In [2]:
import pandas as pd

In [7]:
file = "/Users/jacoblourie/Downloads/flights.txt"

In [10]:
df = pd.read_csv(file, sep='|')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1191805 entries, 0 to 1191804
Data columns (total 31 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   TRANSACTIONID      1191805 non-null  int64
 1   FLIGHTDATE         1191805 non-null  int64
 2   AIRLINECODE        1191805 non-null  object
 3   AIRLINENAME        1191805 non-null  object
 4   TAILNUM            1034988 non-null  object
 5   FLIGHTNUM          1191805 non-null  int64
 6   ORIGINAIRPORTCODE  1191805 non-null  object
 7   ORIGAIRPORTNAME    1191805 non-null  object
 8   ORIGINCITYNAME     1191805 non-null  object
 9   ORIGINSTATE        1180963 non-null  object
 10  ORIGINSTATENAME    1180963 non-null  object
 11  DESTAIRPORTCODE    1191805 non-null  object
 12  DESTAIRPORTNAME    1191805 non-null  object
 13  DESTCITYNAME       1191805 non-null  object
 14  DESTSTATE          1180967 non-null  object
 15  DESTSTATENAME      1180967 non-null  object
 16  CRSDEPTIME         1191805 non-null  int64
 17  DEPTIME            1163470 non-null  float64
 18  DEPDELAY           1163470 non-null  float64
 19  TAXIOUT            1011833 non-null  float64
 20  WHEELSOFF          1011791 non-null  float64
 21  WHEELSON           1010225 non-null  float64
 22  TAXIIN             1010320 non-null  float64
 23  CRSARRTIME         1191805 non-null  int64
 24  ARRTIME            1161439 non-null  float64
 25  ARRDELAY           1160545 non-null  float64
 26  CRSELAPSEDTIME     1191383 non-null  float64
 27  ACTUALELAPSEDTIME  1160545 non-null  float64
 28  CANCELLED          1191805 non-null  object
 29  DIVERTED           1191805 non-null  object
 30  DISTANCE           1191805 non-null  object
dtypes: float64(10), int64(5), object(16)
memory usage: 281.9+ MB

## Alright, let's get down to it

What's wrong with the diverted column

In [13]:
#it doesn't exist!

In [21]:
df['DIVERTED_CLEANED'] = df['DIVERTED'].apply(lambda x: True if x in ('T','True',1) else False)

In [22]:
df['DIVERTED_CLEANED'].value_counts()

False    1189958
True        1847
Name: DIVERTED_CLEANED, dtype: int64

Alright good stuff we've cleaned the diverted column! 

## Question 4 - what's wrong with the distance column. fix it!

In [23]:
df['DISTANCE'].value_counts()

337 miles     10113
370 miles      6851
236 miles      5726
328 miles      5721
224 miles      5509
              ...
1997 miles        1
2045 miles        1
18 miles          1
2874 miles        1
1800 miles        1
Name: DISTANCE, Length: 1706, dtype: int64

In [35]:
df['DISTANCE_CLEANED'] = df['DISTANCE'].apply(lambda x: x.split()[0])

In [40]:
df.head(2)

,TRANSACTIONID,FLIGHTDATE,AIRLINECODE,AIRLINENAME,TAILNUM,FLIGHTNUM,ORIGINAIRPORTCODE,ORIGAIRPORTNAME,ORIGINCITYNAME,ORIGINSTATE,...,CRSARRTIME,ARRTIME,ARRDELAY,CRSELAPSEDTIME,ACTUALELAPSEDTIME,CANCELLED,DIVERTED,DISTANCE,DIVERTED_CLEANED,DISTANCE_CLEANED
0,54548800,20020101,WN,Southwest Airlines Co.: WN,N103@@,1425,ABQ,AlbuquerqueNM: Albuquerque International Sunport,Albuquerque,NM,...,1655,1652.0,-3.0,90.0,87.0,F,False,580 miles,False,580
1,55872300,20020101,CO,Continental Air Lines Inc.: CO,N83872,150,ABQ,AlbuquerqueNM: Albuquerque International Sunport,Albuquerque,NM,...,1426,1435.0,9.0,116.0,119.0,False,F,744 miles,False,744

## Create a fnction that uses datetime to parse flight data to a python datatimeobject

In [61]:
import datetime
df['new_date_format'] = pd.to_datetime(df['FLIGHTDATE'].astype(str), format='%Y%m%d')

In [62]:
df.head()

,TRANSACTIONID,FLIGHTDATE,AIRLINECODE,AIRLINENAME,TAILNUM,FLIGHTNUM,ORIGINAIRPORTCODE,ORIGAIRPORTNAME,ORIGINCITYNAME,ORIGINSTATE,...,ARRTIME,ARRDELAY,CRSELAPSEDTIME,ACTUALELAPSEDTIME,CANCELLED,DIVERTED,DISTANCE,DIVERTED_CLEANED,DISTANCE_CLEANED,new_date_format
0,54548800,20020101,WN,Southwest Airlines Co.: WN,N103@@,1425,ABQ,AlbuquerqueNM: Albuquerque International Sunport,Albuquerque,NM,...,1652.0,-3.0,90.0,87.0,F,False,580 miles,False,580,2002-01-01
1,55872300,20020101,CO,Continental Air Lines Inc.: CO,N83872,150,ABQ,AlbuquerqueNM: Albuquerque International Sunport,Albuquerque,NM,...,1435.0,9.0,116.0,119.0,False,F,744 miles,False,744,2002-01-01
2,54388800,20020101,WN,Southwest Airlines Co.: WN,N334@@,249,ABQ,AlbuquerqueNM: Albuquerque International Sunport,Albuquerque,NM,...,1620.0,80.0,105.0,102.0,F,False,718 miles,False,718,2002-01-01
3,54486500,20020101,WN,Southwest Airlines Co.: WN,N699@@,902,ABQ,AlbuquerqueNM: Albuquerque International Sunport,Albuquerque,NM,...,1948.0,-2.0,85.0,83.0,0,0,487 miles,False,487,2002-01-01
4,55878700,20020103,CO,Continental Air Lines Inc.: CO,N58606,234,ABQ,AlbuquerqueNM: Albuquerque International Sunport,Albuquerque,NM,...,1747.0,-3.0,115.0,114.0,F,False,744 miles,False,744,2002-01-03

## use the duplicated() method to count how many exact duplicates there are in the dataset

In [77]:
df.duplicated(subset = 'DESTAIRPORTNAME', keep = False).value_counts() # There are 0!

True     1191804
False          1
dtype: int64

## Sort the dataframe

In [79]:
df.sort_values(by = 'DISTANCE_CLEANED', ascending = False)

,TRANSACTIONID,FLIGHTDATE,AIRLINECODE,AIRLINENAME,TAILNUM,FLIGHTNUM,ORIGINAIRPORTCODE,ORIGAIRPORTNAME,ORIGINCITYNAME,ORIGINSTATE,...,ARRTIME,ARRDELAY,CRSELAPSEDTIME,ACTUALELAPSEDTIME,CANCELLED,DIVERTED,DISTANCE,DIVERTED_CLEANED,DISTANCE_CLEANED,new_date_format
667522,109437100,20100106,MQ,Envoy Air: MQ,N811MQ,2727,DFW,Dallas/Fort WorthTX: Dallas/Fort Worth Interna...,Dallas/Fort Worth,TX,...,1215.0,15.0,145.0,141.0,0,0,999 miles,False,999,2010-01-06
665677,118325600,20110517,MQ,Envoy Air: MQ,N670MQ,3331,DFW,Dallas/Fort WorthTX: Dallas/Fort Worth Interna...,Dallas/Fort Worth,TX,...,1158.0,-2.0,150.0,154.0,False,F,999 miles,False,999,2011-05-17
883406,70500900,20040520,MQ,Envoy Air: MQ,N847MQ,3625,DFW,Dallas/Fort WorthTX: Dallas/Fort Worth Interna...,Dallas/Fort Worth,TX,...,1611.0,-1.0,149.0,151.0,0,0,999 miles,False,999,2004-05-20
620945,132186500,20130914,MQ,Envoy Air: MQ,N643MQ,3646,DFW,Dallas/Fort WorthTX: Dallas/Fort Worth Interna...,Dallas/Fort Worth,TX,...,1837.0,22.0,150.0,160.0,0,0,999 miles,False,999,2013-09-14
665808,118290300,20110513,MQ,Envoy Air: MQ,N693MQ,2877,DFW,Dallas/Fort WorthTX: Dallas/Fort Worth Interna...,Dallas/Fort Worth,TX,...,1514.0,29.0,150.0,183.0,0,0,999 miles,False,999,2011-05-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
732701,140628700,20150531,HA,Hawaiian Airlines Inc.: HA,N493HA,265,OGG,KahuluiHI: Kahului Airport,Kahului,HI,...,1935.0,2.0,35.0,36.0,False,F,100 miles,False,100,2015-05-31
733375,15193200,19940913,DL,Delta Air Lines Inc.: DL,NaN,1852,OGG,KahuluiHI: Kahului Airport,Kahului,HI,...,2019.0,0.0,39.0,39.0,False,F,100 miles,False,100,1994-09-13
166565,105699400,20090506,HA,Hawaiian Airlines Inc.: HA,N486HA,114,HNL,HonoluluHI: Honolulu International,Honolulu,HI,...,717.0,-1.0,36.0,38.0,False,False,100 miles,False,100,2009-05-06
733373,13032500,19940529,DL,Delta Air Lines Inc.: DL,NaN,1852,OGG,KahuluiHI: Kahului Airport,Kahului,HI,...,2020.0,0.0,40.0,38.0,False,F,100 miles,False,100,1994-05-29
733581,3405400,19920918,AA,American Airlines Inc.: AA,NaN,8,OGG,KahuluiHI: Kahului Airport,Kahului,HI,...,1555.0,8.0,42.0,43.0,0,0,100 miles,False,100,1992-09-18