In [2]:
import pandas as pd

In [7]:
file = "/Users/jacoblourie/Downloads/flights.txt"

In [10]:
df = pd.read_csv(file, sep='|')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1191805 entries, 0 to 1191804
Data columns (total 31 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   TRANSACTIONID      1191805 non-null  int64
 1   FLIGHTDATE         1191805 non-null  int64
 2   AIRLINECODE        1191805 non-null  object
 3   AIRLINENAME        1191805 non-null  object
 4   TAILNUM            1034988 non-null  object
 5   FLIGHTNUM          1191805 non-null  int64
 6   ORIGINAIRPORTCODE  1191805 non-null  object
 7   ORIGAIRPORTNAME    1191805 non-null  object
 8   ORIGINCITYNAME     1191805 non-null  object
 9   ORIGINSTATE        1180963 non-null  object
 10  ORIGINSTATENAME    1180963 non-null  object
 11  DESTAIRPORTCODE    1191805 non-null  object
 12  DESTAIRPORTNAME    1191805 non-null  object
 13  DESTCITYNAME       1191805 non-null  object
 14  DESTSTATE          1180967 non-null  object
 15  DESTSTATENAME      1180967 non-null  object
 16  CRSDEPTIME         1191805 non-null  int64
 17  DEPTIME            1163470 non-null  float64
 18  DEPDELAY           1163470 non-null  float64
 19  TAXIOUT            1011833 non-null  float64
 20  WHEELSOFF          1011791 non-null  float64
 21  WHEELSON           1010225 non-null  float64
 22  TAXIIN             1010320 non-null  float64
 23  CRSARRTIME         1191805 non-null  int64
 24  ARRTIME            1161439 non-null  float64
 25  ARRDELAY           1160545 non-null  float64
 26  CRSELAPSEDTIME     1191383 non-null  float64
 27  ACTUALELAPSEDTIME  1160545 non-null  float64
 28  CANCELLED          1191805 non-null  object
 29  DIVERTED           1191805 non-null  object
 30  DISTANCE           1191805 non-null  object
dtypes: float64(10), int64(5), object(16)
memory usage: 281.9+ MB

## Alright, let's get down to it

What's wrong with the diverted column

In [13]:
#it doesn't exist!

In [21]:
df['DIVERTED_CLEANED'] = df['DIVERTED'].apply(lambda x: True if x in ('T','True',1) else False)

In [22]:
df['DIVERTED_CLEANED'].value_counts()

False    1189958
True        1847
Name: DIVERTED_CLEANED, dtype: int64

Alright good stuff we've cleaned the diverted column! 

## Question 4 - what's wrong with the distance column. fix it!

In [23]:
df['DISTANCE'].value_counts()

337 miles     10113
370 miles      6851
236 miles      5726
328 miles      5721
224 miles      5509
              ...
1997 miles        1
2045 miles        1
18 miles          1
2874 miles        1
1800 miles        1
Name: DISTANCE, Length: 1706, dtype: int64

In [35]:
df['DISTANCE_CLEANED'] = df['DISTANCE'].apply(lambda x: x.split()[0])

In [40]:
df.head(2)

,TRANSACTIONID,FLIGHTDATE,AIRLINECODE,AIRLINENAME,TAILNUM,FLIGHTNUM,ORIGINAIRPORTCODE,ORIGAIRPORTNAME,ORIGINCITYNAME,ORIGINSTATE,...,CRSARRTIME,ARRTIME,ARRDELAY,CRSELAPSEDTIME,ACTUALELAPSEDTIME,CANCELLED,DIVERTED,DISTANCE,DIVERTED_CLEANED,DISTANCE_CLEANED
0,54548800,20020101,WN,Southwest Airlines Co.: WN,N103@@,1425,ABQ,AlbuquerqueNM: Albuquerque International Sunport,Albuquerque,NM,...,1655,1652.0,-3.0,90.0,87.0,F,False,580 miles,False,580
1,55872300,20020101,CO,Continental Air Lines Inc.: CO,N83872,150,ABQ,AlbuquerqueNM: Albuquerque International Sunport,Albuquerque,NM,...,1426,1435.0,9.0,116.0,119.0,False,F,744 miles,False,744